<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/main/community-living"></ion-back-button>
    </ion-buttons>
    <ion-title>Book Amenity</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="ion-padding">
  <div class="ion-text-center ion-margin-top">
    <h2>Book Amenity</h2>
    <p>This is placeholder content for the Book Amenity page. Content will be added here later.</p>
  </div>
</ion-content>
