<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon class="fa-solid fa-house"></ion-icon>
      <ion-label>Home</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="file-a-ticket">
      <ion-icon class="fa-solid fa-ticket"></ion-icon>
      <ion-label>File a Ticket</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="community-living">
      <ion-icon class="fa-solid fa-users"></ion-icon>
      <ion-label>Community</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
